.doctor-row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.doctor-col {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 10px;
}

.doctor-card {
    width: 22rem;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.doctor-card-title {
    font-size: 24px;
}

.doctor-card-body {
    padding: 15px;
}

.doctors-page-title {
    text-align: center;
    margin: 2rem 0;
}
