.nav-header {
    height: 50px;
    z-index: 5;
}

.nav-header a {
    text-decoration: none;
    color: black;
}

#menu {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.menu-container {
    display: flex;
}

.security-menu {
    float: right;
}

.security-menu div a:first-child {
    margin-right: 13px;
}

.security-menu a:hover,
.security-menu a:focus {
    color: green;
    text-decoration: underline;
}
